.wrapper{
  width:98%;
  padding-top: 20px;
  text-align:center;
  max-width: 1000px;
}
h2{
  font-family:sans-serif;
  color:#fff;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.slick-prev:before, .slick-next:before {
color: #E91E63;
font-size: 30px;
}
.slick-prev {
    left: -19px;
}
.slick-next {
    right: -9px;
}
